<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <profiles>
    <profile>
      <id>PLANSHBOARD</id>
      <properties>
        <db.url>jdbc:postgresql://ec2-54-217-243-160.eu-west-1.compute.amazonaws.com
:5432/d5ok256mh126o4</db.url>
        <db.username>ufnvzlrctftqsr</db.username>
        <db.password>d8ecb9489d95c062786dd2f6fb4ee139b38fd2eabe55e51c13f5e2831c843b8b</db.password>
      </properties>
    </profile>

  </profiles>

  <activeProfiles>
    <activeProfile>PLANSHBOARD</activeProfile>
  </activeProfiles>

</settings>
